
body {
    background-color:BurlyWood;
}

p {
    font-weight:bold;
}

#bar {
    font-weight:normal;
    font-style: italic;
}

.foo {
    color:red;
}

#r2c2 {
     border:2px solid red;
 }

table,tr,td {
    border:1px solid blue;
}
